/* MAIN STYLES */


.page {
	//background:red;
}

.header {
	//background:green;
	border-bottom:1px solid black;
}

.main {
	//background:blue;
	border-bottom:1px solid black;
}
	
	svg {
		float:left;
	}

	#svg {
		height:500px;
		width:600px;
	}

.footer {
	//background:yellow;
	border-bottom:1px solid black;
}