/* MAIN STYLES */


.page {
	//background:red;
}

.header {
	//background:green;
	border-bottom:1px solid black;
}

.main {
	//background:blue;
	border-bottom:1px solid black;
	height:500px;
}

	#svg {
		height:100%;
		width:100%;
	}

.footer {
	//background:yellow;
	border-bottom:1px solid black;
}